/* Navigation bar */
body{
    margin: 0;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0;
    background: rgb(129, 129, 119);
}
.main_header{
    display: flex;
    justify-content: flex-end;
    background-color: beige;
    color: black;
    margin: 0;
    font-family: 'Manjari', sans-serif;
}

.main_header ul{
    padding-inline-start: 0;
    padding:0;
}
.main_header li{
    list-style-type: none;
    display: list-item;
}
.main_header li.active{
    background-color: #800000;
    
}
.main_header li.active a{
    color: white;
}
/* .main_header li:last-child{
    margin-right: 30px;
}
.main_header li:first-child img{
    height: 75px;
} */
.main_header a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: black;
  font-size: 1.5em;
  font-variant: all-petite-caps;
  font-weight: bolder;
}
.main_header li a:active {
  color: #800000;
}
.main_header li a:hover {
  background: bisque;
  color: black;
}
/* Genre section */

.main_genre {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.genre_title {
  color: white;
}
.genre_title h1 {
  font-size: 3em;
}
.genre_title p {
  font-size: 2em;
}
.service_genre .genre_title{
justify-content: space-between;    
}
.main_info {
  background-color: #800000;
  color: white;
  padding: 10px 20px;
  border-style: solid;
  margin: 50px;
  border-radius: 10px;
  border-width: thin;
}
.main_info p {
  font-family: "Noto", sans-serif;
}

/*Form css*/

form {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
form label {
  font-size: 2em;
  color: white;
}
form select {
  padding-left: 30px;
  font-size: 1em;
}
form fieldset {
  border-style: none;
}
form input {
  padding-left: 30px;
  font-size: 1em;
}
form button {
  background-color: darkblue;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
}

/*Genre images*/
.start_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/start-img.jpg);
}
.contact_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/contact-img.jpg);
}
.booking_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/booking-img.jpg);
}
/*Footer CSS*/

/* @import url("responsive.css"); */

/* @media all and (max-width: 800px) {
  .main_header {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .main_header {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  } }*/
