/* Navigation bar */
body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    background:beige;
    overflow: hidden;
}
h2{
  font-family: 'Montserrat Alternates', sans-serif;
}
header {
  background: beige;
  position: relative;
  z-index: 999;
}
.header_ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: beige;
    color: black;
    margin: 0;
    font-family: 'Roboto Mono', monospace;

    padding-inline-start: 0 !important;
    padding:0;
}
.header_ul li{
    list-style-type: none;
    display: list-item;
    padding: 15px 0;
}
.header_ul li.active{
    background-color: #800000;
    
}
.header_ul li .active a:hover{
  color:white;
}
.header_ul li.active a{
    color: white;
}
.header_ul a {
  display: block;
  text-decoration: none;
  padding:0.5em 1em;
  color: black;
  font-size: 1.2em;
}
.header_ul li:hover{
  background: #00008b;
  color: white;
}
.header_ul li:hover a{
  color: white;
}
.header h1{
  display:inline-block;
  align-content: center;
  margin:20pxx;
  color:#000000;
  font:300 40px 'segoe ui',sans-serif;
  line-height:35px;
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bolder;
  position: static;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

/*Humburger menu*/
header label{
  font:300 40px 'fontawesome';
  color:#800000;
  line-height:50px;
  cursor:pointer;
  padding-right: 10px;

   position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.header_nav .navicon, .header_nav label{
  display:none;
}
/* Genre section */

.main_genre {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.main_genre li{
  text-align: left;
  line-height: 2em;
  font-size: 2em;
}
.genre_title {
  color: white;
  width: 80%;
}
.genre_title h1 {
  font-size: 3em;
}
.genre_title p {
  font-size: 2em;
}
.service_genre .genre_title{
justify-content: space-between;    
}
.main_info {
  background-color: #800000;
  color: white;
  padding: 10px 20px;
  border-style: solid;
  margin: 50px;
  border-radius: 10px;
  border-width: thin;
}
.main_info p {
  font-family: "Noto", sans-serif;
}
.footer {
    background-color: #800000;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2em;
}
.footer p {
  font-family: "Noto", sans-serif;
}
/*Form css*/

form {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  width: 700px;
  max-width: 600px;
   text-align: center;
   margin: 20px auto;
   color: white;
}

 form input, textarea, select {
     border:0; outline:0;
     padding: 1em;
     border-radius:8px;
     display: block;
     width: 90%;
     margin: 0.5em auto;
 }  
 form select{
    height: 40px;
 }
  #input-submit {
     color: white; 
     background: #800000;
     cursor: pointer;
  }
  textarea {
      height: 126px;
  }

/*
form label {
  font-size: 2em;
  color: white;
}
form select {
  padding-left: 30px;
  font-size: 1em;
}
form fieldset {
  border-style: none;
}
form input {
  padding-left: 30px;
  font-size: 1em;
}
form button {
  background-color: darkblue;
  font-size: 2em;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
} */

/*Form CSS end*/
/*Genre images*/
.start_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/start-img.jpg);
}
.contact_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/contact-img.jpg);
}
.booking_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/booking-img.jpg);
}
.about_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/empty-parking.jpg);
}
.services_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/workshop.jpg);
}
.adress_genre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/adress-car.png);
}
/*Price tables*/
#prices {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  font-family: 'open sans';
  font-weight: normal;
}
#prices td {
    /* display: inline !important; */
    width: 33% !important;
  }
.pricing-table {
  width: 95%;
  margin: auto auto 20px auto;
  position: relative;
  min-height: 340px;
  padding-bottom: 55px;
  text-align: center;
  background: #fff;
  border-radius: 6px;
}

.pricing-table td {
  width: 33% !important;
  vertical-align: top;
  border-radius:5px 5px 0 0;
}
.pricing-table h2 {
  display: block;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 1.4em;
  background: #800000;
  font-weight: 800;
  /* text-transform: uppercase; */
  border-radius: 5px 5px 0 0;
}
.pricing-table h3 {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  background: #880000ab;
  font-size: 0.9em;
}
.pricing-table h4 {
  display: block;
  margin: 0;
  width: 100%;
  padding: 20px;
  background: #8d4f4fab;
  font-size: 1.75em;
  box-sizing: border-box;
}
.pricing-table h5 {
  display: block;
  margin: 0 0 15px 0;
  font-weight: 700;
  padding: 10px;
  background: #a88484ab;
}
.pricing-table h2,
.pricing-table h3,
.pricing-table h4,
.pricing-table h5 {
  color: white;
}

/* Popular Table */

.popular .pricing-table {
  margin-top: -10px;
  min-height: 400px;
}

.popular .pricing-table h2 {
  font-size: 1.8em;
}

.pricing-table p {
  margin: 10px auto;
  padding: 5px 0 5px;
  width: 80%;
  font-weight:300;
  color: black;
  font-size: 1em;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.pricing-table h5 + p {
  border-top: 1px solid rgba(0,0,0,0);
}

.pricing-table a {
  display: block;
  margin: auto;
  width: 45%;
  padding: 10px 0;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  font-size: 0.85em;
  color: #fff;
  background: #2F333C;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.popular .pricing-table a {
  background: #00008b;
}

.pricing-table a:hover {
  background: #00008b;
}

/*------------------------------------*/
/*---------- MEDIA QUERIES -----------*/
/*------------------------------------*/

/*Price tables End/
/* @import url("responsive.css"); */
/* Medium screens */
@media all and (max-width: 800px) {
  #prices td {
    /* display: inline !important; */
    width: 33% !important;
  }
  .pricing-table {
    min-height: 0;
  }
  .popular .pricing-table {
    margin-top: 0px;
  }
  .header_ul {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;

    position:absolute;
    top:100%;
    left:0;
    width:100%;
    opacity:0;
    visibility:hidden;
  }
  .header_nav label{
    display:block;
  }
  .header h1{
    line-height: 60px;
    position: relative;   
    margin: 0;
  }
  input.navicon:checked~ul{
    opacity:1;
    visibility:visible;
  }
  nav ul li{
    float:none;
    text-align:center;
  }
}